---
import type { CollectionEntry } from 'astro:content'
import { getCollection, render } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'
import Layout from '../../layouts/Layout.astro'
import { getRelativeTimeString } from '../../utils/dateUtils'


type Props = CollectionEntry<'blog'>

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map(post => ({
    params: { id: post.id },
    props: post,
  }))
}

const currentUrl = Astro.url.href
const post = Astro.props
const { Content } = await render(post);
---

<Layout
  title={post.data.title}
  description={post.data.description}
>
  <article class="post-content">
    <h1>{post.data.title}</h1>
    <div class="meta my-2 text-xs text-gray-400">
      <span>
        <FormattedDate date={post.data.pubDate} />
      </span>
      {
        post.data.updatedDate && (
          <>
            {' '}
            /
            <span class="last-updated-on">
              上次更新: {getRelativeTimeString(post.data.updatedDate)}
            </span>
          </>
        )
      }
      <span>/ {post.data.author} / {post.data.views}阅读</span>
      <span>
        / 分类: <a
          href={`/categories/${post.data.categorie}`}
          class="text-black dark:text-gray-300 hover:underline"
              >{post.data.categorie || '默认分类'}</a
        >
      </span>
    </div>

    <div>
      <Content />
    </div>

    <p></p>

    {
      post.data.tags.map(tag => (
        <a
          href={`/tags/${tag}`}
          title={tag}
          class="mr-2 rounded-sm bg-sky-100 p-0.5 dark:bg-sky-900 !text-sky-400 hover:underline dark:!text-sky-500"
        >
          #{tag}
        </a>
      ))
    }
  </article>

  <!-- 如果文章有原创标签，就显示原创标签 -->
    {
      !post.data.reprint && (
        <div class="post-copyright my-5 border-l-4 border-sky-500 border-solid bg-gray-100 p-3 dark:bg-gray-800">
            <p>文章作者：<span>{post.data.author}</span></p>
            <p>文章链接：<a class="text-sky-400" href={currentUrl} data-pjax-state="">{currentUrl}</a></p>
            <p>版权声明：本博客所有文章除特别声明外，均采用<a class="text-sky-400" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" data-pjax-state="">CC BY-NC-SA 4.0 许可协议</a>，转载请注明出处！</p>
        </div>
      )
    }
</Layout>

<style is:global>
  :root {
    --blockquote-bg: #f5f5f5;
    --blockquote-tx: #000;
    --th-line: #dfe2e5;
    --hr-line: #f6f3f4;
    --ac-li-bg: #343a401a;
    --ac-li-tx: #324b64;
    --tag-bg: #dff2fe;
    --tag-tx: #00bcff;
  }

  :root.dark {
    --blockquote-bg: #282c34;
    --blockquote-tx: white;
    --th-line: #424242;
    --hr-line: color-mix(in oklab, #d1d5dc 50%, transparent);
    --ac-li-bg: #202328;
    --ac-li-tx: #e0e0e1;
    --tag-bg: #024a71;
    --tag-tx: #00a6f4;
  }

  .post-content h1 {
    font-size: 1.5rem;
  }

  .post-content h1,
  .post-content h2 {
    font-weight: unset;
  }

  .post-content h2 {
    font-size: 1.375rem;
  }

  .post-content h3 {
    font-size: 1.25rem;
  }

  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    font-weight: unset;
  }

  .post-content h4,
  .post-content h5,
  .post-content h6 {
    font-size: 1.125rem;
  }

  .post-content blockquote {
    background-color: var(--blockquote-bg);
    border-radius: 4px;
    color: var(--blockquote-tx);
    border-left: 0 solid #ccc;
    margin: 1rem 0;
    padding: 0.7em;
    quotes: "\201C" "\201D" "\2018" "\2019";
    transition: all 0.15s ease-out;
  }

  .post-content blockquote p {
    margin: 0 !important;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;
    color: inherit;
    padding: 0 15px;
    line-height: normal;
    text-align: inherit;
    display: inline-block;
  }

  .post-content blockquote:before {
    color: #2bbc8a;
    content: "\201C";
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.4em;
  }

  blockquote:hover {
    transform: scale(1.03);
  }

  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    position: relative;
    text-transform: none;
    letter-spacing: normal;
    display: block;
    margin: 10px 0;
  }

  .post-content h2:before {
    content: "#";
    color: #2bbc8a;
    position: absolute;
    left: -1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .post-content h3:before,
  .post-content h4:before,
  .post-content h5:before,
  .post-content h6:before {
    content: "#";
    color: #2bbc8a;
    position: absolute;
    left: -1rem;
    font-weight: 500;
  }

  .post-content p {
    margin: 16px 0;
  }

  .post-content ul li {
    margin: 0;
    padding: 0;
    list-style: disc;
    margin-left: 20px;
  }

  .post-content ol li {
    margin: 0;
    padding: 0;
    list-style: decimal;
    margin-left: 20px;
  }

  .post-content a {
    color: #2196f3;
  }

  .post-content hr {
    margin: 1rem 0;
    border-top: 0.1em dashed;
  }

  .post-content .task-list-item {
    margin-left: 0;
    list-style-type: none;
  }

  .post-content ol li code,
  .post-content p code,
  .post-content table code,
  .post-content ul li code {
    background: var(--tag-bg);
    color: #2196f3;
    padding: 0rem 0.3rem;
    border-radius: 4px;
    white-space: break-spaces;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    width: 100%;
  }

  table th {
    background-color: var(--blockquote-bg);
  }

  table td,
  table th {
    padding: 10px 20px;
    border: 1px solid var(--th-line);
    text-align: center;
  }
</style>
