---
import { getCollection } from "astro:content";
import type { GetStaticPaths } from 'astro';
import Layout from "../../layouts/Layout.astro";



export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const tagsSet = new Set();
  posts.forEach(p => {
    const t = p.data.tags ?? [];
    t.forEach(tag => tagsSet.add(String(tag)));
  });

  const paths = Array.from(tagsSet).map(tag => ({
    params: { tag },
  }));

  return paths;
}

const { tag } = Astro.params as { tag: string };

const allPosts = await getCollection('blog');
const posts = allPosts
  .filter(p => (p.data.tags ?? []).includes(tag))
  .sort((a, b) => +new Date(b.data.pubDate ?? 0) - +new Date(a.data.pubDate ?? 0));
---

<Layout title={`标签: ${tag}`}>
  <article class="tag-content">
    <h2 class="item-a">标签: {tag}</h2>
    <p class="my-5">
      共有 {posts.length} 篇文章
    </p>
    <ul>
      {
        posts.map(post => (
          <li>
            <time class="archives-li" datetime={post.data.pubDate.toLocaleDateString()}>
              {
                post.data.pubDate.toLocaleDateString('zh-cn', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })
              }
            </time>
            <a href={`/archives/${post.id}`} class="text-sm hover:underline">{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </article>
</Layout>

<style is:global>
:root {
  --ac-li-bg: #343a401a;
  --ac-li-tx: #324b64;
}

:root.dark {
  --ac-li-bg: #202328;
  --ac-li-tx: #e0e0e1;
}

.item-a {
    font-size: 22px;
    position: relative;
}

.item-a::before {
    position: absolute;
    content: "#";
    left: -1rem;
    color: #2bbc8a;
    font-weight: 700
}

.archives-li {
    padding: 3px 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    background-color: var(--ac-li-bg);
    color: var(--ac-li-tx);
    margin-right: 5px;
}
</style>