---
import type { GetStaticPaths, Page } from "astro";
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { formatDate } from '../utils/date';

export const getStaticPaths: GetStaticPaths = async ({paginate}) => {
  const posts = await getCollection('blog');
  return paginate(posts, { pageSize: 10 });
};

const { page } = Astro.props as { page: Page<{ data: { pubDate: Date; title: string; }; id: string; }> };
---

<Layout title="首页" description="首页 Ying Astro Blog">
  <article class="recent-posts section">
    <h2 class="section-header">随笔<i class="ri-quill-pen-line"></i></h2>

    <section>
      {
        page.data.map((post) => (
          <article class="article-card"> 
            <div class="article-img-box">
              <img src="/img/author.jpg" class="article-img" sizes="(max-width: 1600px) 100vw, 1600px" />
            </div>
            <div class="article-box">
              <div class="text-xs text-zinc-400 mb-0.5" data-data={post.data.pubDate}>
                {formatDate(post.data.pubDate)}
              </div>
              <a href={`/blog/${post.id}`} class="hover:underline">{post.data.title}</a>
            </div>
          </article>
        ))
      }
    </section>

    <nav class="flex justify-between pt-2">
      {page.url.prev && <a href={page.url.prev}>上一页</a>}
      {page.lastPage > 1 && <span class="text-zinc-400">第 {page.currentPage} 页 / 共 {page.lastPage} 页</span>}
      {page.url.next && <a href={page.url.next}>下一页</a>}
    </nav>
  </article>
</Layout>